# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-lock.yaml
package-lock.json
dist/
build/

# Playwright
playwright-report/
test-results/
artifacts/
.playwright/

# Editor
.vscode/
.idea/
.DS_Store

# Logs
logs/
*.log

# Env
.env
.env.local
.env.*.local

# Coverage
coverage/

# Misc
*.tgz
